@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');	
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

* { box-sizing: border-box; }

.fa-gamepad{
  font-size:50px;
  color:rgb(52, 255, 41);
  
  }
.header{
  font-size:100px;
  color:yellow;
	
font-family:'Oswald';
  
}

header {
  text-align:center;
  background-image:url('tickets.jpg');
  border: 2px dashed red;
}
body{
background-color:rgb(184, 191, 194);
}


  

.tab {
 display:block;
 width:200px;
 border-radius:5px;
}

.fa-facebook {
  background-color: rgb(59, 89, 152);
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  font-size:30px;
  text-decoration:none;
}

.fa-twitter {
  background-color: rgb(0, 172, 237);
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  font-size:30px;
}

.fa-instagram {
  background-color: rgb(247,52,255);
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  font-size:30px;
  
  
}

div{
margin-left:796px;
margin-top:200px;
color:black;
}



footer { 
  background-color: rgb(75, 75, 75);
  color: white;
  text-align: center;
  display:block;
  text-align:center;

}

footer > ul {
  display: inline-block;
}

footer > ul > li {
  padding:10px;
  display: inline-block;
  
}

footer > ul > li > a {
  color:rgb(255, 112, 0)
}


p{
font-size:27px;
border:1px black solid;
width:400px;
margin-left:700px;
background-color:rgba(151,255,100,0.5);
	font-family: 'Patrick Hand', cursive;
}


h2 > a{
text-decoration: none;
color:black;
}

body{
background-color:rgb(184, 191, 194);
}
.hate{
	background-color: rgb(75, 75, 75);
	font-size: 20px;
}
  
  
  display:block;
  text-align:center;
}
footer > ul {
  display: inline-block;
	font-size: 20px;
}

footer > ul > li {
  padding:10px;
  display: inline-block;
  font-size: 20px;
}

footer > ul > li > a {
  color:rgb(255, 112, 0)
	  font-size: 20px;
}
footer { 
  background-color: rgb(75, 75, 75);
  color: white;
  text-align: center;
  display:block;
  text-align:center;

}

footer > ul {
  display: inline-block;
}

footer > ul > li {
  padding:10px;
  display: inline-block;
  
}

footer > ul > li > a {
  color:rgb(255, 112, 0)
}



