 @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');	
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
* { box-sizing: border-box; }

.fa-gamepad{
  font-size:50px;
  color:rgb(52, 255, 41);
  
  }
.header{
  font-size:100px;
  color:rgb(52, 255, 41);
  font-family:'Oswald';
}

header {
  text-align:center;
  background-color:black;
  border: 1px solid black;
}

ul > li > ul { display: none; }
ul > li:hover > ul { display: block; }

li{
  font-size:50px;
  text-decoration:none;
}

.article{
 
  border:1px solid black;
  text-align:center;
  font-size:30px;
  width:500px;
  margin-left:700px;
	font-family: 'Patrick Hand', cursive;
}

body{ 
  text-align:center;
}

h2{
font-size:60px;
	font-family: 'Righteous', cursive;
}


article{
  text-align:center;
}

body{
background-color:rgb(184, 191, 194);
}


.buy{
	font-size: 30px;
	font-family: monospace;
	
	
}

.buy > a{
	color: #FF7600;
	text-decoration: none;
}
.hate{
	background-color: rgb(75, 75, 75);
	font-size: 20px;
}
  
  
  display:block;
  text-align:center;
}
footer > ul {
  display: inline-block;
	font-size: 20px;
}

footer > ul > li {
  padding:10px;
  display: inline-block;
  font-size: 20px;
}

footer > ul > li > a {
  color:rgb(255, 112, 0)
	  font-size: 20px;
}
footer { 
  background-color: rgb(75, 75, 75);
  color: white;
  text-align: center;
  display:block;
  text-align:center;

}

footer > ul {
  display: inline-block;
}

footer > ul > li {
  padding:10px;
  display: inline-block;
  
}

footer > ul > li > a {
  color:rgb(255, 112, 0)
}
